/*-------------------------------------------------------kids PAGE--------------------------------------------*/
.kids-collection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.kids-wrapper{
    display: inline-block;
    margin: 60px 10px 30px 0;
}
.kids-cards{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #8080802f;
    margin: 20px 10px 5px 0;
    gap: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.kids-cards img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.kids-wrapper h2{
    font-size: small;
    text-align: center;
}
.kids-wrapper h2:hover{
    color: green;
}
.kids-wrapper a{
    text-decoration: none;
    color: black;
}
.kids-wrapper a:hover{
    color: #3ad83a;
}
.kids-collection h1{
    text-align: center;
    white-space: nowrap;
    margin: 20px 0 0 0;
    position: absolute;
    left: 46%;
    cursor: pointer;
}

.trending-kids-title h1{
    margin: 45px 55rem 30px ;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
    left: 50%;
}
.kids-trending-column{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 70px;
    width: 100%;
    height: fit-content;
    margin: 20px 0 20px 0;
}
.kids-trending-card-details{
    display: flex;
}
.kids-trending-column-details{
    border-radius: 20px;
    border: 5px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    padding-right: 10px;
    width: fit-content;
    height: fit-content;
    margin: 20px 30px 50px 10px;
    position: relative;
}
.kids-trending-details{
    padding: 40px 10px;
    line-height: 2.5;
}
.kids-variants{
    gap: 10px;
    display: flex;
    margin: 10px 10px;
}
.kids-variants img{
    height: 50px;
    height: 50px;
    border: 2px solid grey;
    cursor: pointer;
}

.kids-trending-card-details img{
    object-fit: cover;
    border-top-left-radius: 15px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.kids-trending-column-details:hover{
    transform: scale(1.1)
}


/*-----------------------------------------------------sandal SECTION-------------------------------------------------------*/

.kids-sandal-title h1{
    margin: 100px 55rem 30px ;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
    left: 50%;
}
.kids-sandal-column{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 70px;
    width: 100%;
    height: fit-content;
    margin: 40px 20px 20px 0;
}
.kids-sandal-card-details{
    display: flex;
}
.kids-sandal-column-details{
    border-radius: 20px;
    border: 5px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    padding-right: 10px;
    width: fit-content;
    height: fit-content;
    margin: 20px 40px 50px 10px;
    position: relative;
}
.kids-sandal-details{
    padding: 40px 10px;
    line-height: 2.5;
}
.kids-sandal-card-details img{
    object-fit: cover;
    border-top-left-radius: 15px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.kids-sandal-column-details:hover{
    transform: scale(1.1)
}

/*-----------------------------------------------------KIDS SECTION-------------------------------------------------------*/
.kids-boots-title h1{
    margin: 95px 55rem 30px ;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
    left: 50%;
}
.kids-boots-column{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 70px;
    width: fit-content;
    height: fit-content;
}
.kids-boots-card-details{
    display: flex;
}
.kids-boots-column-details{
    border-radius: 20px;
    border: 5px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    padding-right: 10px;
    width: fit-content;
    height: fit-content;
    margin: 20px 30px 50px 10px;
    position: relative;
}
.kids-boots-details{
    padding: 40px 10px;
    line-height: 2.5;
}
.kids-boots-card-details img{
    object-fit: cover;
    border-top-left-radius: 15px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.kids-boots-column-details:hover{
    transform: scale(1.1)
}


.last-column{
    display: flex;
}
.bi{
    cursor: pointer;
}
.bi-heart{
    color: red;
    left: 90%;
    position: absolute;
    margin-top: 10px;
}
.quantity{
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    left: 80%;
    margin-top: 20px;
    color: black;
}