/*-------------------------------------------------------LV PAGE--------------------------------------------*/
.LV-collection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.LV-wrapper{
    display: inline-block;
    margin: 60px 10px 30px 0;
}
.LV-cards{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #8080802f;
    margin: 20px 10px 5px 0;
    gap: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.LV-cards img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.LV-wrapper h2{
    font-size: small;
    text-align: center;
}
.LV-wrapper h2:hover{
    color: green;
}
.LV-wrapper a{
    text-decoration: none;
    color: black;
}
.LV-wrapper a:hover{
    color: #3ad83a;
}
.LV-collection h1{
    text-align: center;
    white-space: nowrap;
    margin: 20px 0 0 0;
    position: absolute;
    left: 46%;
    cursor: pointer;
}

.trending-LV-title h1{
    margin: 95px 55rem 30px ;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
    left: 50%;
}
.LV-trending-column{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 70px;
    width: fit-content;
    height: fit-content;
    margin: 40px 20px 20px 10px;
}
.LV-trending-card-details{
    display: flex;
}
.LV-trending-column-details{
    border-radius: 20px;
    border: 5px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    padding-right: 10px;
    width: fit-content;
    height: fit-content;
    margin: 40px 30px 20px 20px;
}
.LV-trending-details{
    padding: 40px 10px;
    line-height: 2.5;
}
.LV-variants{
    gap: 10px;
    display: flex;
    margin: 10px 10px;
}
.LV-variants img{
    height: 50px;
    height: 50px;
    border: 2px solid grey;
    cursor: pointer;
}

.LV-trending-card-details img{
    object-fit: cover;
    border-top-left-radius: 15px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.LV-trending-column-details:hover{
    transform: scale(1.1)
}


/*-----------------------------------------------------FEMALE SECTION-------------------------------------------------------*/

.LV-female-title h1{
    margin: 100px 55rem 30px ;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
    left: 50%;
}
.LV-female-column{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 70px;
    width: fit-content;
    height: fit-content;
    margin: 40px 20px 20px 10px;
}
.LV-female-card-details{
    display: flex;
}
.LV-female-column-details{
    border-radius: 20px;
    border: 5px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    padding-right: 10px;
    width: fit-content;
    height: fit-content;
    margin: 40px 30px 20px 20px;
}
.LV-female-details{
    padding: 40px 10px;
    line-height: 2.5;
}
.LV-female-card-details img{
    object-fit: cover;
    border-top-left-radius: 15px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.LV-female-column-details:hover{
    transform: scale(1.1);
}


