*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background: #ffff;
}

@media (max-width: 768px) {
    .announcement-bar {
        background: yellow;
        width: 1000px;
        height: 10px;
        color: white;

        padding: 1px 10px 10px 70px;
        white-space: nowrap;
        overflow: hidden;
    }

}

.landing{
    padding: 15px 20px 15px 20px;
}
.announcement-bar{
    background: green;
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 40%;
    padding: 1px 190px 10px 70px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.logo{
    display: flex;
    flex-direction: row;
    color: #3ad83a;
    cursor: pointer;
    padding: 5px 0 5px 0;
}
.logo img{
    width: 40px;
    height: 40px;
}


/*-----------------------------NAV LINKS SECTION----------------------------------*/
.nav-links li{
    list-style: none;
}
.nav-links{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    float: inline-start;
    gap: 40px;
    justify-content: space-between;
    margin-right: 10px;
    position: relative;
}
.nav-links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
.nav-links input{
    width: 320px;
    height: 30px;
    border-radius: 20px;
    background: rgb(209, 208, 206);
    color: green;
    padding: 5px 15px ;
    border: none;
    outline: none;
}
.nav-links a{
    text-decoration: none;
    color: black;
}
.nav-links a:hover{
    color: green;
}
.sub-categories{
    display: none;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 10px 10px 10px;
}
.nav-links ul li:hover .sub-categories{
    display: block;
    position: absolute;
    background: green;
    margin-top: 5px;
    width: fit-content;
    border-radius: 10px;
}
.nav-links ul li:hover .sub-categories li a{
    color: white;;
    padding: 0 0 0 ;
}
.nav-links ul li .sub-categories{
    padding: 10px 10px 10px 10px;
}
.nav-links ul li:hover .sub-categories ul{
    display: block;
    line-height: 30px;
}
.nav-links ul li:hover .sub-categories ul li a:hover{
    color: #baf3ba;
    border-bottom: 1px solid #3ad83a;
}

.cart{
    position: relative;
    border-radius: 10px;
    padding: 7px;
}

.bi-cart3{
    color: #3ad83a;
    font-size: 30px;
    margin-top: -5px;
    position: relative;
}
.cart-quantity{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 20px;
    background: red;
    color: white;
}
.bi-heart-fill{
    color: red;
    left: 90%;
    position: absolute;
    margin-top: 10px;
}

/*-----------------------------BANNER SECTION----------------------------------*/
.banner{
    height: 300px;
    background: #f8eed2;
    border-radius: 15px;
    padding: 50px 150px ;
    box-shadow: 10px 0 10px rgba(27, 27, 27, 0.1);
}

.banner h1{
    font-size: 3rem;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: green;
}
.banner img{
    position: absolute;
    top: 13%;
    left: 80%;
}
.banner button{
    width: 100px;
    height: 50px;
    margin: 30px 60px;
    border: none;
    border-radius: 20px;
    color: white;
    background: green;
    cursor: pointer;
    font-size: medium;
    position:absolute;
}
.banner button:hover{
    color: #baf3ba;
    transform: scale(1.2);
}



/*-----------------------------LATEST RELEASE SECTION---------------------------------*/
.latest-collections{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.latest-collections h1{
    text-align: center;
    white-space: nowrap;
    margin: 20px 0 0 0;
    position: absolute;
    left: 45%;
    cursor: pointer;
}
.LT-wrapper{
    display: inline-block;
    margin: 60px 10px 30px 0;
}
.LT-cards{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #8080802f;
    margin: 20px 10px 5px 0;
    gap: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.LT-cards img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.LT-wrapper h2{
    font-size: small;
    text-align: center;
}
.LT-wrapper a{
    text-decoration: none;
    color: black;
}
.LT-wrapper a:hover{
    color: #3ad83a;
}



/*-----------------------------SCROLL BAR SECTION----------------------------------*/
.scroll-bar{
    display: flex;
    flex-direction: row;
    margin: 40px 40px;
    gap: 30px;
}
   
.Sneakers-brand a{
    width: 200px;
    height: 70px;
    background: #3ad83a;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
}
.Sneakers-brand a:hover{
    background: rgba(128, 128, 128, 0.185);
    color: black;
    }
.price a{
    width: 200px;
    height: 70px;
    background: #3ad83a;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
}
.price a:hover{
    background: rgba(128, 128, 128, 0.185);
    color: black;
}
.latest-release a{
    width: 200px;
    height: 70px;
    background: #3ad83a;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
}
.latest-release a:hover{
    background: #8080802f;
    color: black;
    }
.Review a{
    width: 200px;
    height: 70px;
    background: #3ad83a;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
}
.Review a:hover{
    background: rgba(128, 128, 128, 0.185);
    color: black;
    }
.Designs a{
    width: 200px;
    height: 70px;
    background: #3ad83a;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
}
.Designs a:hover{
    background: rgba(128, 128, 128, 0.185);
    color: black;
    }
.Colors a{
    width: 200px;
    height: 70px;
    background: #3ad83a;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
}
.Colors a:hover{
    background: rgba(128, 128, 128, 0.185);
    color: black;
    }
.Year a{
    width: 200px;
    height: 70px;
    background: #3ad83a;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
}
.Year a:hover{
background: rgba(128, 128, 128, 0.185);
color: black;
}
.all-filter a{
    width: 200px;
    height: 70px;
    background: #3ad83a;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
}
.all-filter a:hover{
background: #8080802f;
color: black;
}
.sort-by a{
    width: 90px;
    height: 30px;
    background: white;
    border: 2px solid grey;
    text-decoration: none;
    color: black;  
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
    right: 0%;
}
.sort-by a:hover{
    background: rgba(128, 128, 128, 0.185);
}



/*-----------------------------TRENDING SECTION----------------------------------*/
.Trending-sneakers{
    margin: 10px 5px 20px 5px;
}
.trending-title h1{
    margin: 45px 55rem 50px ;
    white-space: nowrap;
    font-size: 2rem;
}
.trending-column{
    display: grid;
    grid-template-columns: repeat(6,2fr);
    gap: 50px;
    width: 100%;
    height: fit-content;
    margin: 20px 0 10px 0;
}
.trending-cards-details{
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.trending-column .trending-cards-details:hover{
    transform: scale(1.1);
}
.trending-cards-details{
    font-size: medium;
}

.trending-column img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.trending-details{
    padding: 5px 10px 10px;
    line-height: 1.5;
}
.buy-button{
    width: 100px;
    padding: 5px 3px 5px 3px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background: #3ad83a;
    color: white;
    margin: 5px 5px 2px;
    cursor: pointer;
}
.cart-button{
    width: 100px;
    padding: 7px 7px 7px 7px;
    border: none;
    border-radius: 10px;
    background: #3ad83a;
    color: white;
    margin: 5px 5px 2px;
    cursor: pointer;

}
.cart-button:hover{
    border: none;
    transform: scale(1.2);
    border-radius: none;
    
}
.buy-button:hover{
    border: none;
    transform: scale(1.2);
    border-radius: none;
}
.sizes{
    display: flex;
    gap: 10px;
    margin: 10px 20px;
}
.sizes span{
    font-size: 20px;
    border: 2px solid grey;
    width: 50px;
    height: 50px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}
.sizes span:hover{
    background: rgb(175, 174, 174);
    border: 1px solid black;
    color: white;
}
.size-headline{
    margin: 10px 10px;
    cursor:default;
    color: #3ad83a;
}


/*------------------------FEMALE SECTION-------------------------------------------*/
.female-sneakers{
    margin: 10px 5px 20px 5px;
}
.female-title h1{
    margin: 45px 55rem 50px ;
    white-space: nowrap;
    font-size: 2rem;
}
.female-cards-details{
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
}

.female-column{
    display: grid;
    grid-template-columns: repeat(6,2fr);
    gap: 50px;
    width: 100%;
    height: fit-content;
    margin: 20px 0 20px 0;
}
.female-cards-details{
    font-size: medium;
}
.female-cards-details img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.female-details {
    padding: 5px 10px 10px;
    line-height: 1.5;
}
.female-column .female-cards-details:hover{
    transform: scale(1.1);
}

/*----------------KIDS SECTION-------------------------------------*/
.Kids-sneakers{
    margin: 10px 5px 0px 5px;
}
.Kids-title h1{
    margin: 45px 55rem 70px ;
    white-space: nowrap;
    font-size: 2rem;
}
.Kids-cards-details{
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
    font-size: medium;
}

.Kids-column{
    display: grid;
    grid-template-columns: repeat(6,2fr);
    gap: 50px;
    width: fit-content;
    height: fit-content;
    margin: 20px 0 50px 0;
}

.Kids-cards-details img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.kids-details{
    padding: 5px 10px 10px;
    line-height: 1.5;
}
.Kids-column .Kids-cards-details:hover{
    transform: scale(1.1);
}


/*-----------------------------FOOTER SECTION----------------------------------*/
.footer-section{
    background: rgb(37, 182, 37);
}
.footer-contents{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 50px;
    line-height: 3;
    color: white;
}
.footer-section h1{
    color: white;
}
.footer-contents p:hover{
    color:#3ad83a;
}
.brand hr{
    outline: 2px solid green;
}
.footer-section a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.footer-section a:hover{
    color: #3ad83a;
}
.brand h1{
    color: white;
    border-radius: 5px;
    font-weight: 500;
}
.brand p{
    cursor:initial ;
}
#footer-logo{
    width: 50px;
    height: 40px;
}

.copy-right{
    display: flex;
    padding: 30px 100px 30px;
    gap: 500PX;
    color: rgb(255, 255, 255);
    outline: 5px solid green;
}
.payment-icons{
    display: flex;
    width: 70px;
    height: 30px;
    position: absolute;
    right: 10%;
    gap: 10px;
}

.contact-container{
    width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;   
}
.landing-reviews{
    display: flex;
    justify-content: space-between;
}

.quantity{
    font-size: 22px;
    color: #3ad83a;
}
.bi{
    cursor: pointer;
}
.bi-star{
    color: orange;
}
.bi-star-fill{
    color: orange;
}

/*Media Queries for Mobile Responsiveness

@media (max-width: 480px) {
    .banner h1 {
        font-size: 1.2rem;
    }

    .banner button {
        width: 80px;
        height: 40px;
        font-size: small;
    }

    .trending-column,
    .female-column,
    .Kids-column {
        grid-template-columns: repeat(1, 1fr);
    }

    .scroll-bar {
        flex-direction: column;
        align-items: center;
    }

    .Sneakers-brand a,
    .price a,
    .latest-release a,
    .Review a,
    .Designs a,
    .Colors a,
    .Year a,
    .all-filter a {
        width: 100%;
    }
}

    @media (max-width: 320px) {
        .banner h1 {
            font-size: 0.6rem;
        }
    
        .banner button {
            width: 40px;
            height: 20px;
            font-size: small;
        }
    
        .trending-column,
        .female-column,
        .Kids-column {
            grid-template-columns: repeat(1, 1fr);
        }
    
        .scroll-bar {
            flex-direction: column;
            align-items: center;
        }
    
        .Sneakers-brand a,
        .price a,
        .latest-release a,
        .Review a,
        .Designs a,
        .Colors a,
        .Year a,
        .all-filter a {
            width: 100%;
        }
        .copy-right{
            width: 100%;
        }
    }
    