/*-------------------------------------------------------VS PAGE--------------------------------------------*/
.VS-collection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.VS-wrapper{
    display: inline-block;
    margin: 60px 10px 30px 0;
}
.VS-cards{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #8080802f;
    margin: 20px 10px 5px 0;
    gap: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.VS-cards img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.VS-wrapper h2{
    font-size: small;
    text-align: center;
}
.VS-wrapper h2:hover{
    color: green;
}
.VS-wrapper a{
    text-decoration: none;
    color: black;
}
.VS-wrapper a:hover{
    color: #3ad83a;
}
.VS-collection h1{
    text-align: center;
    white-space: nowrap;
    margin: 20px 0 0 0;
    position: absolute;
    left: 46%;
    cursor: pointer;
}

.men-VS-title h1{
    margin: 45px 55rem 30px ;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
    left: 50%;
}
.VS-men-column{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 70px;
    width: fit-content;
    height: fit-content;
    margin: 40px 20px 20px 10px; 
}
.VS-men-card-details{
    display: flex;
}
.VS-men-column-details{
    border-radius: 20px;
    border: 5px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    padding-right: 10px;
    width: fit-content;
    height: fit-content;
    margin: 40px 30px 20px 20px;
    position: relative;
}
.VS-men-details{
    padding: 40px 10px;
    line-height: 2.5;
}
.VS-variants{
    gap: 10px;
    display: flex;
    margin: 0 10px;
}
.VS-variants img{
    height: 50px;
    height: 50px;
    border: 2px solid grey;
    cursor: pointer;
}

.VS-men-card-details img{
    object-fit: cover;
    border-top-left-radius: 15px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.VS-men-column-details:hover{
    transform: scale(1.1);
}


/*-----------------------------------------------------FEMALE SECTION-------------------------------------------------------*/

.VS-female-title h1{
    margin: 100px 55rem 30px ;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
    left: 50%;
}
.VS-female-column{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 70px;
    width: fit-content;
    height: fit-content;
    margin: 40px 20px 20px 10px;
}
.VS-female-card-details{
    display: flex;
}
.VS-female-column-details{
    border-radius: 20px;
    border: 5px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    padding-right: 10px;
    width: fit-content;
    height: fit-content;
    margin: 40px 30px 20px 20px;
    position: relative;
}
.VS-female-details{
    padding: 40px 10px;
    line-height: 2.5;
}
.VS-female-card-details img{
    object-fit: cover;
    border-top-left-radius: 15px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.VS-female-column-details:hover{
    transform: scale(1.1)
}

/*-----------------------------------------------------KIDS SECTION-------------------------------------------------------*/
.VS-kids-title h1{
    margin: 45px 55rem 30px ;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
    left: 50%;
}
.VS-kids-column{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 70px;
    width: fit-content;
    height: fit-content;
    margin: 40px 20px 20px 10px;
}
.VS-kids-card-details{
    display: flex;
}
.VS-kids-column-details{
    border-radius: 20px;
    border: 5px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    padding-right: 10px;
    width: fit-content;
    height: fit-content;
    margin: 40px 30px 20px 20px;
    position: relative;
}
.VS-kids-details{
    padding: 40px 10px;
    line-height: 2.5;
}
.VS-kids-card-details img{
    object-fit: cover;
    border-top-left-radius: 15px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.VS-kids-column-details:hover{
    transform: scale(1.1)
}

.bi{
    cursor: pointer;
}
.bi-heart{
    color: red;
    left: 90%;
    position: absolute;
    margin-top: 10px;
}.reviews{
    display: flex;
    justify-content: space-between;
}
.quantity{
    font-size: 22px;
    color: #3ad83a;
}